
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,800;1,600&display=swap');

*{
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
}

a{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}

h3{
    font-size: medium;
}

.banner{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

figcaption{
    text-align: center;
    font-weight: 500;
    
}

/* PAGINA DE INICIO */
/* NAVEGADOR SUPERIOR */
.navbar-nav{
    background-color: rgb(230, 230, 230);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}


.encabezado{
    display: flex;
    justify-content: space-around;
}



/* PARTE SUPERIOR */
/* Conjunto */
.encabezado ul{ 
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;

}
/* Logo izquierdo L */
.logomin{
    width: 30px;
    align-items: start;

}

/* Boton de busqueda */
.botonbuscador{
    border: 1px solid black;
    border-radius: 6mm;
    width: 100%;
    padding: 10px 50px;
    
}
.piedepagina{
    text-align: center;
    background-color: rgb(155, 155, 155);
    border-radius: 16px;
    height: 25px;
    color: rgb(0, 0, 0); opacity: 80%; font-style: oblique;
}


/* Botones de Banner */

.BotonesBanner{
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 6mm;
    border: 1px solid black;
    justify-content: center;
    padding: 10px;
    align-items: center;
    
}

.BotonBanner2{
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 6mm;
    border: 1px solid black;
    padding: 10px;
    align-items: center;
}


/* NUEVA COLECCION */
.productosdest{
    box-sizing: border-box; /* adapto el contenido al cuadro. Borde y padding lo mete hacia adentro */
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 400px;
    padding: 5px;
}

.productosdest h1{
    margin-left: 15px;
}


.productos1{
    width: auto;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, 20%);  
}

.productos1 figure figcaption img{
    width: 189px;
}

/* ACCESORIOS */
.prodaccesorios{
    width: 100%;
    height: 400px;
    padding: 5px;
}

.productos2{
    margin: 15px;
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(5, 20%);   

}


.productos2 figure figcaption img{
    width: 189px;
}


/* LOS MAS BUSCADOS- 6 PRODUCTOS */
.losbuscados{
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 400px;
    padding: 5px;
}
.productos3{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, 20%);  
}

.losbuscados h2{
    margin-left: 15px;
}
.productos3 figure figcaption img{
    width: 189px;
}


/* FORMULARIO */
.formtitle{
    grid-area: formtitle;
}


.formtext{
  grid-area: formtext;
}

button{
    margin-left: 5px;
    text-align: left;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 2mm;
    background-color: rgb(180, 180, 180);
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

input{
    border: 1px solid black;
    padding: 10px;
    width: 75%;
    border-radius: 2mm;
}

.newbutton{
    grid-area: newbutton;
}

.newbutton li button:hover{
    background-color: gray;
}

.newbutton li button{
    margin-top: 10px;
}

.newbutton li input{
    text-align: center;
    font-size: auto;
}
.newslet{
    padding: 25px;
    background-color: rgb(230, 230, 230);
    justify-content: space-between;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: repeat(2,50px);
    column-gap: 20px;
    grid-template-areas: 
    "formtitle formtext newbutton"
    "formtitle formtext newbutton"
    ;
}


/* NAVEGADOR INFERIOR */
.iconos{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    padding: 30px;
    gap: 35px;
   
}


.elementosf{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(1, 300px);
    grid-template-areas: 
    "columna1 columna2 columna3 columna4 columna5"
    ;
    justify-content: space-around;
}


h4{
    font-weight: bold;
}

.columna1 a{
background-color: rgb(180, 180, 180);
color: white;
border-radius: 2mm;
padding: 8px;
text-align: center;
grid-area: columna1;

}

.columna1 a:hover{
    background-color: gray;
}

.columna1 h3{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.columna1{
    margin-left: 20px;
}

.columna2{
    grid-area: columna2;
}

.columna2 h3{
    font-weight: bold;
    text-transform: uppercase;
}

.columna3{
    grid-area: columna3;
}

.columna3 h3{
    font-weight: bold;
    text-transform: uppercase;
}

.columna4{
    grid-area: columna4;
}
.columna4 h3{
    font-weight: bold;
    text-transform: uppercase;
}

.columna5{
    grid-area: columna5;
}
.columna5 h3{
    font-weight: bold;
    text-transform: uppercase;
}


/* PAGINA SOBRE NOSOTROS */

.quienes{
    text-align: center;
    margin: 0px 200px;
    padding: 20px;
    
}

.quienes p{
    padding: 30px;
}

.quienes img{
    padding: 40px;
    align-items: center;
    
}


/* PAGINA CONTACTO */

.linkcontacto{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 40px;
}

.linkcontacto h1{
    font-weight: bold;
}

.linkcontacto a img{
    margin-right: 20px;
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 30px;

}

textarea{
    border-radius: 2mm;
    border-color: black;
    width: 500px;
    height: 200px;
}

/* PAGINA DE POLITICAS */

.politicas1{
    text-align: center;
    margin-top: 40px;
    padding: 50px;
    
}

.politicas1 h1{
    font-weight: bold;
}
/* PAGINA COMO COMPRAR*/

.comocomp{
    text-align: center;
    margin-top: 40px;
    gap: 10px;
}

.comocomp li{
    margin-bottom: 20px;
}

.comocomp h1{
    font-weight: bold;
}



@media (min-width: 360px) and (max-width: 580px) {
    /* BANNER SUPERIOR Y BUSCADOR */
    .piedepagina{
        height: fit-content;
    }
    .encabezado form input{
        width: fit-content;
    }

    /* MAIN CON PRODUCTOS */
    .productosdest{
        height: fit-content;
    }
    .productos1{
        grid-template-columns: repeat(2, 165px);
        justify-content: space-around;
        
    }

    .productos1 figure figcaption img{
        width: 150px;
    }

    .prodaccesorios{
        height: fit-content;
    }
    .productos2{
        grid-template-columns: repeat(2, 165px);
        justify-content: space-around;
    }
    .productos2 figure figcaption img{
        width: 150px;
    }
    .basic{
        width: 150px;
    }

    .losbuscados{
        height:fit-content;
    
    }
    .productos3{
        grid-template-columns: repeat(2, 165px);
        justify-content: space-around;
    }

    .productos3 figure figcaption img{
        width: 150px;
    }

    /* FORMULARIO SUSCRIPCION */

    .newslet{
        text-align: center;
        grid-template-columns: 100%;
        row-gap: 20px;
        grid-template-areas: 
        "formtitle"
        "formtext"
        "newbutton"
        ;
    }

    .newbutton li input{
        width: fit-content;
    
    }

    .newbutton{
        margin-top: 80px;
        margin-right: 22px;
    }

    /* FOOTER */
    .elementosf{
        display: none;
    }
}

@media (min-width: 581px) and (max-width: 780px) {
    .productosdest{
        height: fit-content;
    }
    .productos1{
        grid-template-columns: repeat(2, 50%);
    }

    .prodaccesorios{
        height: fit-content;
    }
    .productos2{
        grid-template-columns: repeat(2, 50%);
    }

    .losbuscados{
        height: fit-content;
    }

    .productos3{
        grid-template-columns: repeat(2, 50%);
    }

    .newslet{
        text-align: center;
        grid-template-columns: 100%;
        row-gap: 20px;
        grid-template-areas: 
        "formtitle"
        "formtext"
        "newbutton"
        ;
    }

    .newbutton li input{
        width: fit-content;
    
    }

    .newbutton{
        margin-top: 40px;
        margin-right: 22px;
    }

    .elementosf{
        text-align: center;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 280px);
        grid-template-areas: 
        "columna1 columna2 columna3"
        "columna4 none columna5";
    }

}

@media (min-width:781px) and (max-width:1000px) {
    .productosdest{
        height: fit-content;
    }
    .productos1{
        grid-template-columns: repeat(3, 33%);
    }

    .prodaccesorios{
        height: fit-content;
    }
    .productos2{
        grid-template-columns: repeat(3, 33%);
    }
    .basic{
        margin-left: 30px;
    }

    .losbuscados{
        height: fit-content;
    }
    .productos3{
        grid-template-columns: repeat(3, 33%);
    }

    .elementosf{
        text-align: center;
        grid-template-columns: repeat(5, 20%);
        grid-template-areas: 
        "columna1 columna2 columna3 columna4 columna5";
    }

    .newslet{
        justify-content: center;
        height: fit-content;
        grid-template-columns: 150px 280px 200px;
        column-gap: 20px;
        grid-template-areas: 
        "formtitle formtext newbutton";
    }
    .formtext{
        font-size: small;
    }

    .newbutton li input{
        font-size: small;
    }
}
